@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/*base letters attributes*/

.a {
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
}
.b {
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
}
.c {
  font-size: 30px;
  font-style: oblique;
  font-weight: 400;
}
.d {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.e {
  font-size: 50px;
  text-decoration: Underline;
}
.f {
  font-size: 15px;
  text-decoration: Line-through;
}
.g {
  font-size: 25px;
  text-decoration: Overline;
}
.h {
  font-size: 35px;
  text-decoration: none;
}
.i {
  font-size: 45px;
}
.k {
  font-size: 55px;
}
.l {
  font-size: 12px;
}
.m {
  font-size: 22px;
}
.n {
  font-size: 32px;
}
.o {
  font-size: 42px;
}
.p {
  font-size: 52px;
}
.r {
  font-size: 17px;
  text-transform: capitalize;
}
.s {
  font-size: 27px;
  text-transform: capitalize;
}
.t {
  font-size: 37px;
  text-transform: capitalize;
}
.u {
  font-size: 47px;
  text-transform: capitalize;
}
.v {
  font-size: 57px;
  font-family: Roboto;
}
.w {
  font-family: Oswald;
}
.y {
  font-family: Bungee;
}

/* DID word */

.did {
  color: red;
}

.didDLetter {
}

.didILetter {
}

.didDTwoLetter {
}

/* THE word */
.the {
  color: aqua;
}

.theTLetter {
}

.theHLetter {
}

.theELetter {
}

/* FRONT-END word */

.frontend {
  color: aquamarine;
}

.frontendFLetter {
}

.frontendRLetter {
}

.frontendOLetter {
}

.frontendNLetter {
}

.frontendTLetter {
}

.frontendELetter {
}

.frontendNTwoLetter {
}

.frontendDLetter {
}

/* DEVELOPER word */
.developer {
  color: black;
}

.developerDLetter {
}
.developerELetter {
}
.developerVLetter {
}
.developerETwoLetter {
}
.developerLLetter {
}
.developerOLetter {
}
.developerPLetter {
}
.developerEThreeLetter {
}
.developerRLetter {
}

/* TAKE word */
.take {
  color: blueviolet;
}

.takeTLetter {
}
.takeALetter {
}
.takeKLetter {
}
.takeELetter {
}

/* UP word */
.up {
  color: brown;
}

.upULetter {
}
.upPLetter {
}

/* GARDENING word */
.gardening {
  color: chocolate;
}

.gardeningGLetter {
}
.gardeningALetter {
}
.gardeningRLetter {
}
.gardeningDLetter {
}
.gardeningELetter {
}
.gardeningNLetter {
}
.gardeningILetter {
}
.gardeningNTwoLetter {
}
.gardeningGTwoLetter {
}

/* BECAUSE word */
.because {
  color: chartreuse;
}

.becauseBLetter {
}
.becauseELetter {
}
.becauseCLetter {
}
.becauseALetter {
}
.becauseULetter {
}
.becauseSLetter {
}
.becauseETwoLetter {
}

/* THEY word */
.they {
  color: coral;
}

.theyTLetter {
}
.theyHLetter {
}
.theyELetter {
}
.theyYLetter {
}

/* WANTED word */
.wanted {
  color: darkblue;
}

.wantedWLetter {
}
.wantedALetter {
}
.wantedNLetter {
}
.wantedTLetter {
}
.wantedELetter {
}
.wantedDLetter {
}

/* TO word */

.to {
  color: crimson;
}

.toTLetter {
}
.toOLetter {
}

/* IMPROVE word */

.improve {
  color: darkgoldenrod;
}

.improveILetter {
}
.improveMLetter {
}
.improvePLetter {
}
.improveRLetter {
}
.improveOLetter {
}
.improveVLetter {
}
.improveELetter {
}

/* THEIR word */

.their {
  color: darkmagenta;
}

.theirTLetter {
}
.theirHLetter {
}
.theirELetter {
}
.theirILetter {
}
.theirRLetter {
}

/* ROOT word */

.root {
  color: dodgerblue;
}

.rootRLetter {
}
.rootOLetter {
}
.rootOTwoLetter {
}
.rootTLetter {
}

/* SKILLS word */

.skills {
  color: gold;
}

.skillsSLetter {
}
.skillsKLetter {
}
.skillsILetter {
}
.skillsLLetter {
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
}

/* SYMBOLS */

.hyphen {
  color: rgb(59, 94, 94);
}
.exclamation-mark {
  color: hsl(34, 78%, 91%);
}
.question-mark {
  color: bisque;
}
